* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
}

.wrap {
    padding-left: 8%;
    padding-right: 8%;
}

