* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
}


.wrapper {
  max-width: 550px;
  margin: 20px auto;

  display: grid;
  gap: 1rem;
}

#title {
  font-size: 1.2rem;
  color: #fff;
  background-color: #333;
  padding: 0.2rem 1rem;
  border-radius: 6px;
}

#title i {
  font-size: 1.2rem;
}

.control-buttons {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 30% 1fr;
  height: 100px;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid grey;
  background-color: rgb(57, 57, 57);
}
.input {
  display: grid;
  grid-template-rows: 1fr 60% 1fr;
}
#bpm {
  text-align: center;
  font-size: 2rem;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: rgb(158, 115, 171);
  color: white;
  z-index: 2;
}

#playTick i, #stopTick i{
  font-size: 1.5rem;
}


.control-buttons button {
  border: none;
  cursor: pointer;
  background-color: rgb(57, 57, 57);
  transition: 80ms ease-in-out;
  color: white;
}

.control-buttons button:hover {
  color: rgb(158, 115, 171);
  filter: brightness(1.3);
}

.control-buttons button:hover i {
  transform: scale(1.2);
}

.control-buttons::after {
  content: '';
  position: absolute;
  top: 20px;
  left: -150px;
  width: 900px;
  height: 200px;
  background-color: rgba(119, 119, 119, 0.235);
  border-radius: 80%;
  transform: rotateZ(-10deg);
  z-index: 1;
  user-select: none;
  pointer-events: none;
  transition: 90ms;
  border: 2px solid rgba(255, 255, 255, 0.06);
}

.control-buttons:hover::after {
  left: -190px;
  filter: brightness(1.1);
}

.interval-buttons {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 2rem;
}

.interval-buttons button {
  width: 130px;
  background: none;
  border: none;
  border: 1px solid rgb(47, 47, 47);
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: 90ms
}

.interval-buttons button:hover {
  border: 1px solid rgb(158, 115, 171);
  color: rgb(158, 115, 171);
  transform: scale(1.05);
}

.beat-box {
  border-radius: 6px;
  overflow: hidden;
  display: grid;
  grid-auto-flow: column;
  gap: 0.1rem;
  /* grid-template-columns: repeat(auto-fit, minmax(85px, 1fr)); */
}

.beat-box > div {
  height: 130px;
  background-color: rgb(60, 60, 60);
}



.active-beat {
  background: rgb(158, 115, 171);
  padding-left: 5px;
  transition: 250ms ease-out;
}

.beat {
  display: grid;
  grid-template-rows: 1fr 15%;
}

.beat:hover {
  filter: opacity(0.8);
  padding: 2px;
  transition: 250ms ease-out;
  cursor: pointer;
}

.beat:hover .active-beat{
  background: none;
}

.beat-number {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
  pointer-events: none;
  user-select: none;
}

.beat-sound {
  display: grid;
  place-items: center;
  color: white;
  font-size: 0.7rem;
  background-color: rgb(31, 31, 31);
}

.beat-sound p{
  width: 37px;
  text-align: center;
  pointer-events: none;
  user-select: none;

}

@media screen and (max-width: 550px) {
  .wrapper {
    max-width: 95%;
  }
  .beat-box {
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }  
}

@media (hover: none) {
  .beat:hover, .interval-buttons button:hover, .control-buttons button:hover, .control-buttons button:hover i {
    padding: 0;
    filter: none;
    transform: none;
  }
  .interval-buttons button:hover {
    border: 1px solid rgb(47, 47, 47);
    color: rgb(47, 47, 47);
  }
  .control-buttons button:hover {
    color: white;
  }
  .control-buttons:hover::after {
    left: -150px;
    filter: none;
  }

}


/* hide input arrows */
#bpm::-webkit-outer-spin-button,
#bpm::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#bpm[type=number] {
  -moz-appearance: textfield;
}