

.gallery {
    display: flex;

    height: 450px;
    box-shadow: 0px 0px 12px 2px rgb(85, 85, 85);
    border-radius: 5px;
    overflow: hidden;
}

.mainScreen {
    position: relative;
    z-index: 3;
    flex: 0 0 800px;
    justify-content: center;

    background-color: black;
}

.description {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: rgb(197, 197, 197);
    background-color: rgba(0, 0, 0, 0.308);
    padding: 10px;

    transition: 200ms ease-in-out;

}

.mainPhoto {
    width: 100%;
    transition: 250ms;
}

.mainPhoto:hover {
    filter: saturate(1.5);
    transform: scale(1.02);
}

.mainPhoto:hover ~ .description {
    transform: translateY(300px);
}

.button {
    flex: 1;
    cursor: pointer;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;

    transition: 200ms;
}

.button:hover {
    transform: scale(1.5);
    background-color: rgb(243, 243, 243);
    box-shadow: 0px 0px 8px 5px black inset;

}

.rightButton {
    background-image: url("../images/button/arrowR.svg");
}

.leftButton {
    background-image: url("../images/button/arrowL.svg");
}


