@use 'hero'; @use 'nav'; @use 'grid';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

html {
  scroll-behavior: smooth,
}

body {
  background-color: rgb(64, 67, 70);
  scroll-snap-type: y mandatory;
}

#logos-wrapper {
  background-color: rgb(26, 26, 26);
}

#logos {
  margin: 0 auto;
  padding: 10px;

  display: grid;
  grid-auto-flow: column;
  width: 40vw;
}

#logos img {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  #logos {
    width: 60vw;
  }
}

@media screen and (max-width: 720px) {
  #logos {
    width: 80vw;
  }
}

